[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.13"

[dev-packages]
pytest = ">=8.3"
doit = "*"
pylint = "*"
schema229 = {editable = true, path = "."}

[packages]
jsonschema = "*"
pyyaml = "*"
pytablewriter = "*"
schema229 = {editable = true, path = "."}
